@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('fontes/droid.otf') format('opentype');
    font-weight: normal;
}
:root{--fonte-padrao:'Times New Roman','Serif','Helvetica','cursive';
    --fonte-android:'Android','cursive';
    --fonte-destaque:'Bebas Neue', 'cursive';
}
header > h1{font-family: var(--fonte-destaque);text-align: center;color: rgb(235, 237, 238);margin-top: 61px; font-size: 35px;text-shadow: 3px 2px 2px black;}
main > h2 {font-family: var(--fonte-android);}
.c2{font-family: var(--fonte-padrao);text-align: center;color: rgb(235, 237, 238);text-shadow: 3px 2px 2px black;margin-top: -21px;margin-bottom: 15px}
body{background-color: #0d8f4ea6;margin-bottom: -16px;margin: auto;}
main{padding-top: 1px;padding-left: -20px; padding-right: 20px;background-color: rgb(251, 252, 253);margin: auto;min-width: 320px;max-width: 800px;border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.651);}
.foto1{padding-left: 1px;}
.foto2{padding-left: 8px;}
.and1{text-decoration: underline;}
.and2{border-right: 1px;border-bottom: 1px;border-left: 1px;border-top: 1px  ;padding-right: 1px; padding-bottom: 1px; padding-left: 401px; padding-top: 1px;
margin-right: 1px; margin-bottom: 1px;margin-left: 1px; margin-top: -139px;text-decoration: underline;}
.footer1{background-color: rgb(2, 95, 52);}
p{font-family: 'Arial, Helvetica, sans-serif';font-weight: bold;margin: 25px 30px;text-align: justify;line-height: 1.5em;text-indent: 30px;}
body{font-family: 'Arial, Helvetica, sans-serif';}
.titulo1{color: rgb(6, 100, 45);font-size: 25px;font-family: var(--fonte-android);margin: 0px 20px;}
.titulo2{color: rgb(6, 100, 45);font-size: 25px;font-family: var(--fonte-android);margin: 0px 20px;background-image: linear-gradient(to right, #43a16aab,#06642d02);padding-left: 5px;}
.footer1{text-align: center;padding-top: 11px;margin-top: -8px;margin-left: -8px;color: rgb(246, 246, 247);margin: auto;min-width: 320px;max-width: 1400px}
.comp{background-color: #49d48fd8; padding-left: 1px;padding-top: 1px;padding-right: 1px;padding-bottom: 1px;margin-left: 45px;;margin-top: 2px;;border-radius: 5px; 
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);display: block;}
.comp2{background-color: #1a9b5bd8;color: rgb(255, 255, 255);padding-top: 6px;padding-bottom: 2px;margin-top: -1px;text-decoration: underline;margin-left: -1px;margin-right: -1px;}
.video3{display: block; padding-top: 1px;margin-left:-102px;width: 700px;height: 250px;margin-top:-14px;}
div#c5{margin: auto;}
main img{width: 100%;}
main img.pequena{width: 50%; display: block;margin: auto;}
nav{box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);padding-bottom: 5px;}
nav > a {color: rgb(243, 237, 237); margin-right: 10px; margin-left: 8px; font-size: 19px;padding:5px;text-decoration: none;
transition-duration: .5s;border-radius: 5px;}
nav > a:hover{background-color: #0ba759;color: #10631c;}
.par{padding-bottom: 15px;margin-top: 13px;}
main strong{color: #0e2415;font-weight: bold;padding: 1px 5px;background-color: #06642d;}
main a {color: #0e2415;font-weight: bold;padding: 1px 5px;background-color: #06642d;}
ul{columns: 2; list-style-type: '\2714';text-decoration: underline;}
div.video{background-color: #10631c;margin-bottom: 20px;margin: 0px -20px 30px -0px;padding: 20px; position: relative;padding-bottom: 55%;}
div.video > iframe{position: absolute;top:5%;left: 5%;width: 90%;height: 90%;}
main > section > h1 > a{background-color: rgba(5, 5, 5, 0);}
